TCP/Client/.vs
TCP/Client/x64
TCP/Client/Client/x64
TCP/Server/x64
TCP/Server/.vs
TCP/Server/Server/x64
UDP/Client/.vs
UDP/Client/x64
UDP/Client/Client/x64
UDP/Server/x64
UDP/Server/.vs
UDP/Server/Server/x64